html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.dialog-container {
    min-width: 600px !important; 
  }

.mdc-snackbar__surface {
  background-color: green !important;
  color: white !important;
}

.toast-icon {
  color: white !important;
}